.CompactCard {
  display: flex;
  flex: 1;
  height: 7rem !important;
  border-radius: 2rem;
  color: black;
  position: relative;
  cursor: pointer;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.CompactCard:hover {
  box-shadow: none !important;
}

.radialBar {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.5rem;
}
.CircularProgressbar {
  width: 4rem !important;
  overflow: visible;
}

.CircularProgressbar-path {
  stroke: black !important;
  stroke-width: 10px !important;
}
.CircularProgressbar-text {
  fill: black !important;
}

.detail {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.detail > span:nth-child(2) {
  font-size: 22px;
  font-weight: bold;
}

.detail > span:nth-child(3) {
  font-size: 12px;
}

/* Expanded Card Styling */

.ExpandedCard {
  position: absolute;
  width: 60%;
  height: 70vh;
  z-index: 9;
  left: 13rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.ExpandedCard > span:nth-of-type(1) {
  color: black;
  font-weight: bold;
  font-size: 26px;
}
.ExpandedCard > span:nth-of-type(2) {
  font-size: 18px;
}

.chartContainer {
  width: 70%;
}
