@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600;700&display=swap');

.outer-container {
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.sidebar {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 4rem;
  text-align: center;
  font-weight: 700;
  transition: all ease 500ms;
  background-color: black;
  border-radius: 2rem;
  font-size: small;
}

.logo {
  font-family: 'Comfortaa', 'cursive';
  font-size: 28px;
  color: whitesmoke;
}
/* The Pages in Sidebar */
.pages {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
  color: whitesmoke;
}

.page-items {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
  height: 2.5rem;
  margin-left: 2rem;
  border-radius: 0.5rem;
}

.page-name {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
}

.page-items:hover {
  cursor: pointer;
}

.active:hover {
  background-color: rgb(54, 54, 54);
  margin-left: 0;
  transition: all ease 0.2s;
}

.active:hover::before {
  content: '';
  width: 8px;
  height: 100%;
  background-color: whitesmoke;
}

@media screen and (max-width: 1300px) {
  .logo {
    font-size: 18px;
  }
  .page-items > span {
    display: none;
  }
}

@media screen and (max-width: 910px) {
  .page-items {
    margin-left: 1.2rem;
  }
}

@media screen and (max-width: 830px) {
  .page-items {
    margin-left: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
}
